
*.docx

*.pdf

*.ppt

CSE635/.RData

CSE635/.Rhistory

CSE635/HW4.log

*.csv

CSE635/Test1.Rmd

*.txt

CSE635/cheese.tsv

.vscode/launch.json

.vscode/tasks.json

CSE130/Lab5.cpp

CSE130/Lab5.exe

CSE130/Lab5.ilk

CSE130/Lab5.pdb

CSE130/lab5_screenshot.png

screenshot2.png
